body{
    background-color: #222222;
}

#background{
    width: 600px;
    margin-left: 35%;
    margin-top: 2%;
    z-index: 0;
}

#orangeS{
    font-family: "Franklin Gothic Heavy";
    color: orangered;
    top: -13%;
    margin-left: 38%;
    position: absolute;
    margin left: 50px;
    font-style: bold;
    font-size: 530px;
}

#blackS{
    font-family: "Franklin Gothic Heavy";
    top: 0%;
    margin-left: 50%;
    position: absolute;
    margin left: 50px;
    font-style: bold;
    font-size: 530px;
}

#simon{
    font-family: "Franklin Gothic Heavy";
    color: orangered;
    top: 80%;
    margin-left: 28%;
    position: absolute;
    margin left: 50px;
    font-style: bold;
    font-size: 100px;
}

#standbridge{
    font-family: "Franklin Gothic Heavy";
    top: 80%;
    margin-left: 46%;
    position: absolute;
    margin left: 50px;
    font-style: bold;
    font-size: 100px;
}

#landing{
    background-color: #ffffff;
    text-decoration: none;
    height: 1000px;
}

#portfolio{
    color: orangered;
    font-family: "OCR A Std";
    height: 1000px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#about{
    color: orangered;
    font-family: "OCR A Std";
    height: 1000px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#cv{
    color: orangered;
    font-family: "OCR A Std";
    height: 1000px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#contact{
    color: orangered;
    font-family: "OCR A Std";
    height: 1000px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

a:visited {
    color:#222222;
}
a:hover {
    color:#222222;
}
a:active {
    color:#222222;
}

nav{
    color: orangered;
    font-family: "OCR A Std";
}

#footerContact{
    padding: 30px;
    float: left;
    width: 30%;
}

#footerCentre{
    padding: 30px;
    float: left;
    width: 30%;
}

#footerLegal{
    padding: 30px;
    float: left;
    width: 30%;
}

footer{
    height: 200px;
    background-color: black; 
}

#video{
    width: 800px;
    height: 450px;
}